<div>
  <link href="./navigation-links2.css" rel="stylesheet" />
  <nav class="navigation-links2-nav">
    <a href="index.html" class="navigation-links2-navlink"><span>Home</span></a>
    <a href="about.html" class="navigation-links2-navlink1">
      <span>About</span>
    </a>
    <a href="beneficiaries.html" class="navigation-links2-navlink2">
      <span>Beneficiary</span>
    </a>
    <a href="contact.html" class="navigation-links2-navlink3">
      <span>Contact</span>
    </a>
  </nav>
</div>
