<div>
  <link href="./navigation-links3.css" rel="stylesheet" />
  <nav class="navigation-links3-nav">
    <a href="index.html" class="navigation-links3-navlink"><span>Home</span></a>
    <a href="about.html" class="navigation-links3-navlink1">
      <span>About</span>
    </a>
    <a href="beneficiaries.html" class="navigation-links3-navlink2">
      <span>Beneficiaries</span>
    </a>
    <a href="contact.html" class="navigation-links3-navlink3">
      <span>Contact</span>
    </a>
  </nav>
</div>
